@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav>
    <ul>
        <li>@Html.ActionLink("Create Purchase Order", "CreatePurchaseOrder", "Order")</li>
        <li>@Html.ActionLink("Create Sales Order", "CreateSalesOrder", "Order")</li>
    </ul>
</nav>
<div id="orderDiv" style="height: 450px"></div>

<script>
    $(document).ready(function () {
        $('#orderDiv').w2grid({
            name: 'orderGrid',
            url: '@Url.RouteUrl("DefaultApi", new { httproute = "", controller = "OrderGrid" })',
            //url: '@Url.Action("Post", "OrderGrid")',
            autoLoad: true,
            limit: 500,
            msgRefresh: 'Loading',
            show: {
                toolbar: false,
                footer: false,
                toolbarSave: false,
                toolbarDelete: false,
                toolbarSearch: false
            },
            columns: [
                {
                    field: 'OrderNumberString', caption: 'Order Number', size: '10%', sortable: true, resizable: true, render: 'text'
                },
                {
                    field: 'OrderType', caption: 'Order Type', size: '20%', sortable: true, resizable: true, render: 'text'
                },
                {
                    field: 'CreatedOn', caption: 'Created On', size: '30%', sortable: true, resizable: true, render: 'date'
                },
                {
                    field: 'CreatedBy', caption: 'Created By', size: '40%', sortable: true, resizable: true, render: 'text'
                }
            ],
            sortData: [
                { field: 'CreatedOn', direction: 'desc' }
            ],
            onSelect: function (event) {
                window.location = ('@Url.Action("Review", "Order")/' + event.recid);
            }
        });
    });
</script>
