@using Thermory.Domain.Enums
@model Thermory.Web.Models.OrderForm
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var firstCategoryId = Model.LumberOrderForms.First().LumberCategory.Id;
    var orderType = string.Format("{0} Order", Model.OrderType == OrderTypes.PurchaseOrder ? "Purchase" : "Sales");
    var orderId = Model.Order == null ? Guid.Empty : Model.Order.Id;
}

<h3>@orderType @Model.Order.OrderNumberString</h3>

<div id="worksheetPanel">
    <ul class="nav nav-tabs" data-tabs="tabs">
        @{
            foreach (var orderForm in Model.LumberOrderForms)
            {
                var category = orderForm.LumberCategory;
                var active = category.Id == firstCategoryId ? "class=active" : "";
                <li @active><a href="#@orderForm.LumberCategory.Id" data-toggle="tab">@category.Name</a></li>
            }
            foreach (var category in Model.MiscellaneousOrderForms.Select(orderForm => orderForm.MiscellaneousCategory))
            {
                <li><a href="#@category.Id" data-toggle="tab">@category.Name</a></li>
            }
        }
    </ul>
    <div class="tab-content" style="height: 500px; overflow: auto;">
        @{
            foreach (var orderForm in Model.LumberOrderForms)
            {
                var category = orderForm.LumberCategory;
                var active = category.Id == firstCategoryId ? "active" : "";
                <div id="@category.Id" class="tab-pane @active">
                    @Html.Partial("_LumberLineItem", orderForm)
                </div>
            }
            foreach (var orderForm in Model.MiscellaneousOrderForms)
            {
                var category = orderForm.MiscellaneousCategory;
                <div id="@category.Id" class="tab-pane">
                    @Html.Partial("_MiscellaneousLineItem", orderForm)
                </div>
            }
        }
    </div>
    @if (!Model.Order.IsDeleted)
    {
        <button type="button" onclick="window.location = ('@Url.Action("EditOrder", "Order", new RouteValueDictionary{{"id", Model.Order.Id}})');">Edit</button>
        <button type="button" onclick="deleteOrder();">Delete</button>
    }
</div>

<div id="savingPanel" style="display: none;">Saving...</div>

<script type="text/javascript">
    function deleteOrder() {
        $('#worksheetPanel').hide();
        $('#savingPanel').show();
        var postData = '{"orderId" : "@orderId"}';
        console.log(postData);

        $('#worksheetPanel').show();
        $('#savingPanel').hide();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("DeleteOrder", "Order")',
            contentType: 'application/json',
            dataType: 'json',
            data: postData,
            success: function (data, status, request) {
                window.location = ('@Url.Action("Index", "Order")');
            },
            error: function (data, status, request) {
                console.log(data);
                console.log(status);
                console.log(request);
                $('#worksheetPanel').show();
                $('#savingPanel').hide();
            }
        });
    }
</script>