@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Thermory.Web.Models.SalesOrderViewModel

<div>@Model.FirstName @Model.LastName</div>
<div>@Model.StreetAddress</div>
<div>@Model.City, @Model.State @Model.PostalCode</div>
