@model Thermory.Web.Models.PackingSlip
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Thermory Inventory</title>
    <link href="~/Images/favicon.png" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/w2ui-css")
    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/w2ui")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/thermory")
</head>
<body>
    <table>
        <tr>
            <td class="packingSlipCell">&nbsp;</td>
            <td class="packingSlipCell" colspan="2">
                <img src="~/Images/logo.jpg" width="164" height=" 80" alt="Thermory" />
            </td>
            <td class="packingSlipCell">&nbsp;</td>
        </tr>
        <tr>
            <td class="packingSlipCell" style="text-align: right;">Ship Date:</td>
            <td class="packingSlipCell" style="text-align: right;">@Model.ShipDate</td>
            <td class="packingSlipCell">&nbsp;</td>
            <td class="packingSlipCell" style="text-align: right;">Customer PO#</td>
            <td class="packingSlipCell" style="text-align: center;">@Model.Package.Order.OrderNumber</td>
        </tr>
        @if (!string.IsNullOrEmpty(Model.Package.Order.Notes))
        {
            <tr>
                <td colspan="5" style="text-align: right;"><em>@Model.Package.Order.Notes</em></td>
            </tr>
        }
        <tr class="packingSlipBottomBorder packingSlipTopBorder">
            <td class="packingSlipCell packingSlipSection">Customer:</td>
            <td class="packingSlipCell" colspan="4">@Model.Customer.Name</td>
        </tr>
        <tr>
            <td class="packingSlipCell packingSlipSection" rowspan="2">Address:</td>
            <td class="packingSlipCell" colspan="4">@Model.Customer.AddressLine1</td>
        </tr>
        <tr class="packingSlipBottomBorder">
            <td class="packingSlipCell" colspan="4">@Model.Customer.AddressLine2</td>
        </tr>
        <tr>
            <td class="packingSlipCell packingSlipSection" rowspan="2">@Model.Package.Order.PackagingType.Name #</td>
            <td class="packingSlipCell">&nbsp;</td>
            <td class="packingSlipCell packageNumber" style="text-align: right;">@Model.Package.PackageNumber</td>
            <td class="packingSlipCell" style="text-align: center;">of</td>
            <td class="packingSlipCell packageNumber">@Model.TotalPackages</td>
        </tr>
        <tr class="packingSlipBottomBorder">
            <td class="packingSlipCell"><em>Dimensions:</em></td>
            <td class="packingSlipCell">@Model.Dimensions</td>
            <td class="packingSlipCell" colspan="2"></td>
        </tr>
        <tr class="packingSlipBottomBorder">
            <td class="packingSlipCell packingSlipSection">Weight</td>
            <td class="packingSlipCell" colspan="4">@Model.Package.Weight lbs (approx.)</td>
        </tr>
        <tr>
            <td class="packingSlipCell" colspan="5">
                @{
                    @Html.Partial("Package/_LumberProductReview", Model.Package)
                    @Html.Partial("Package/_MiscellaneousProductReview", Model.Package)
                }
            </td>
        </tr>
    </table>
</body>
</html>