@model Thermory.Domain.Models.Order

<h3><strong>Create Packaging Slips</strong></h3>
<div id="errorPanel" class="alert alert-danger" role="alert" style="display: none; margin-top: 14px;">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    <span id="errorMessage"></span>
</div>
<div id="worksheetPanel">
    <br />
    <div type="button" class="btn btn-info" onclick="window.location = ('@Url.Action("Review", "SalesOrder")/@Model.Id');">
        <span class=" glyphicon glyphicon-arrow-left"></span> Back
    </div>
    <table id="packageCountEntry">
        <tr>
            <td>
                <label for="numberOfPackages">Number of <span>@Model.PackagingType.Name</span>s</label>
            </td>
            <td colspan="2">
                <input type="text" id="numberOfPackages" class="form-control numeric" />
            </td>
            <td>
                <div type="button" class="btn btn-success" onclick="addPackages();">
                    <span class="glyphicon glyphicon-plus"></span> Add @Model.PackagingType.Name
                </div>
            </td>
        </tr>
    </table>
    <div id="errorPanel" class="alert alert-danger" role="alert" style="display: none; margin-top: 14px;">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        <span id="errorMessage"></span>
    </div>
    <div id="resetButton" type="button" class="btn btn-danger" style="display: none;" onclick="resetPackages();">
        <span class="glyphicon glyphicon-remove"></span> Reset <span>@Model.PackagingType.Name</span>
    </div>
    @{
        var lumberCategories = Model.OrderLumberLineItems.Select(i => i.LumberProduct.LumberType.LumberSubCategory.LumberCategory).Distinct();
        var lumberSubCategories = Model.OrderLumberLineItems.Select(i => i.LumberProduct.LumberType.LumberSubCategory).Distinct();
        var lumberTypes = Model.OrderLumberLineItems.Select(i => i.LumberProduct.LumberType).Distinct();

        foreach (var category in lumberCategories.OrderBy(c => c.SortOrder))
        {
            foreach (var subCategory in lumberSubCategories.OrderBy(s => s.SortOrder).Where(s => s.LumberCategoryId == category.Id))
            {
                foreach (var lumberType in lumberTypes.OrderBy(s => s.SortOrder).Where(s => s.LumberSubCategoryId == subCategory.Id))
                {
                    <h3><strong>@category.Name:</strong> @subCategory.Name</h3>
                    <h5><em>@lumberType.Name</em></h5>
                    <table class="table table-striped table-condensed packagingSummary">
                        <thead>
                            <tr>
                                <th>Length</th>
                                <th>Width</th>
                                <th>Pieces</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var lineItem in Model.OrderLumberLineItems.Where(li => li.LumberProduct.LumberType.Id == lumberType.Id))
                            {
                                <tr id="@lineItem.LumberProduct.Id" producttype="lumber">
                                    <td style="vertical-align: middle;">@lineItem.LumberProduct.LengthInFeet FT</td>
                                    <td style="vertical-align: middle;">@lineItem.LumberProduct.LumberType.LumberSubCategory.WidthInInches"</td>
                                    <td style="vertical-align: middle;">
                                        <input type="hidden" id="qty-@lineItem.LumberProductId" value="@lineItem.Quantity" />
                                        @lineItem.Quantity
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            }
        }

        var miscCategories = Model.OrderMiscellaneousLineItems.Select(i => i.MiscellaneousProduct.MiscellaneousSubCategory.MiscellaneousCategory).Distinct();
        var miscSubCategories = Model.OrderMiscellaneousLineItems.Select(i => i.MiscellaneousProduct.MiscellaneousSubCategory).Distinct();

        foreach (var category in miscCategories.OrderBy(c => c.SortOrder))
        {
            <h3><strong>@category.Name:</strong></h3>
            <table class="table table-striped table-condensed packagingSummary">
                <thead>
                    <tr>
                        <th>Category</th>
                        <th>Item</th>
                        <th>Pieces</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var subCategory in miscSubCategories.OrderBy(s => s.SortOrder).Where(s => s.MiscellaneousCategoryId == category.Id))
                    {
                        foreach (var lineItem in Model.OrderMiscellaneousLineItems.Where(li => li.MiscellaneousProduct.MiscellaneousSubCategory.Id == subCategory.Id))
                        {
                            <tr id="@lineItem.MiscellaneousProduct.Id" producttype="misc">
                                <td style="vertical-align: middle;">@lineItem.MiscellaneousProduct.MiscellaneousSubCategory.Name</td>
                                <td style="vertical-align: middle;">@lineItem.MiscellaneousProduct.Name (@lineItem.MiscellaneousProduct.Description)</td>
                                <td style="vertical-align: middle;">
                                    <input type="hidden" id="qty-@lineItem.MiscellaneousProductId" value="@lineItem.Quantity" />
                                    @lineItem.Quantity
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        }
    }
    <div id="savePackagesButton" type="button" class="btn btn-success disabled" style="display: none;" onclick="savePackagingSlips();">
        <span class="glyphicon glyphicon-ok"></span> Save
    </div>
</div>
<div id="savingPanel" style="display: none;">Saving...</div>

<script language="javascript">
    var packageCount = 0;
    var packageType = '@Model.PackagingType.Name';
    var packagingValues = new Array();

    function addPackages() {
        $('#errorPanel').hide();
        packageCount = parseInt($('#numberOfPackages').val());
        if (packageCount == 0 || isNaN(packageCount)) {
            $('#errorMessage').text('The number of ' + packageType + 's must be greater than 0.');
            $('#errorPanel').show();
            return;
        }

        for (var i = 1; i <= packageCount; i++) {
            $('.packagingSummary').find('thead').find('tr').append('<th class="packagingColumn">' + packageType + ' ' + i + '</th>');

            $('.packagingSummary').find('tbody').find('tr').each(function () {
                var id = $(this).attr('id');
                var productType = $(this).attr('productType');
                $(this).append('<td class="packagingColumn"><input name="packageQty" productId="' + id + '" productType="' + productType + '" packageNumber="' + i + '" class="form-control numeric" type="text" style="width: 100px;" maxlength="6" value="0" onchange="packagingQuantityChanged(\'' + id + '\');" /></td>');
            });

            $('.numeric').keydown(rejectNonNumericText);
        }
        $('.packagingSummary').find('thead').find('tr').append('<th class="packagingColumn">Status</th>');

        $('.packagingSummary').find('tbody').find('tr').each(function () {
            var id = $(this).attr('id');
            $(this).append('<td class="packagingColumn"><h3 style="margin-top: 15px;"><span id="statusIcon-' + id + '" class="glyphicon glyphicon-warning-sign glyphicon-warning"></span></h3><input type="hidden" id="status-' + id + '" name="packageStatus" value="false" /></td>');
        });

        $('#packageCountEntry').hide();
        $('#resetButton').show();
        $('#savePackagesButton').show();
    }

    function packagingQuantityChanged(productId) {
        var packagedQty = 0;
        var query = 'input[productId=\'' + productId + '\']';
        $(query).each(function () {
            var packageQty = $(this).val() ? parseInt($(this).val()) : 0;
            packagedQty += packageQty;
        }
        );
        var orderQty = $('#qty-' + productId).val();
        var statusIcon = $('#statusIcon-' + productId);
        var status = $('#status-' + productId);
        statusIcon.removeClass();
        if (packagedQty == orderQty) {
            statusIcon.addClass("glyphicon glyphicon-ok glyphicon-success");
            status.val(true);
        } else {
            statusIcon.addClass("glyphicon glyphicon-warning-sign glyphicon-warning");
            status.val(false);
        }
        setSaveButtonState();
    }

    function setSaveButtonState() {
        var enabled = true;
        $('[name=packageStatus]').each(function () {
            enabled &= $(this).val() == 'true';
        });
        var saveButton = $('#savePackagesButton');
        if (enabled) {
            saveButton.removeClass('disabled');
        } else {
            saveButton.addClass('disabled');
        }
    }

    function resetPackages() {
        packageCount = parseInt($('#numberOfPackages').val());
        $('.packagingColumn').remove();
        $('#numberOfPackages').val(null);
        $('#packageCountEntry').show();
        $('#resetButton').hide();
        $('#savePackagesButton').hide();
    }

    function savePackagingSlips() {
        $('#worksheetPanel').hide();
        $('#savingPanel').show();
        $('#errorPanel').hide();

        var packageLumberLineItems = getPackageLumberLineItems();
        var packageMiscLineItems = getPackageMiscLineItems();

        var packageLumberDetailsJson = JSON.stringify(packageLumberLineItems);
        var packageMiscDetailsJson = JSON.stringify(packageMiscLineItems);
        var postData = '{"orderId" : "@Model.Id", "lumberLineItems" : ' + packageLumberDetailsJson + ', "miscLineItems" : ' + packageMiscDetailsJson + '}';

        $.ajax({
            type: 'POST',
            url: '@Url.Action("SavePackages", "SalesOrder")',
            contentType: 'application/json',
            dataType: 'json',
            data: postData,
            success: function (data, status, request) {
                window.location = ('/SalesOrder/Review/@Model.Id');
            },
            error: function (data, status, request) {
                $('#errorMessage').html('<span>' + data.responseText.replace('\n', ' <br/> ') + '</span>');
                $('#errorPanel').show();
                $('#worksheetPanel').show();
                $('#savingPanel').hide();
            }
        });
    }

    function getPackageLumberLineItems() {
        var packageLineItems = new Array();
        var query = 'input[name="packageQty"][productType="lumber"]';
        $(query).each(function () {
            var productId = $(this).attr('productId');
            var packageNumber = parseInt($(this).attr('packageNumber'));
            var qty = $(this).valueOf() == '' ? 0 : parseInt($(this).val());

            if (qty != 0) {
                packageLineItems.push({
                    LumberProductId: productId,
                    Quantity: qty,
                    Package: {
                        PackageNumber: packageNumber
                    }
                });
            }
        });
        return packageLineItems;
    }

    function getPackageMiscLineItems() {
        var packageLineItems = new Array();
        var query = 'input[name="packageQty"][productType="misc"]';
        $(query).each(function () {
            var productId = $(this).attr('productId');
            var packageNumber = parseInt($(this).attr('packageNumber'));
            var qty = $(this).valueOf() == '' ? 0 : parseInt($(this).val());

            if (qty != 0) {
                packageLineItems.push({
                    MiscellaneousProductId: productId,
                    Quantity: qty,
                    Package: {
                        PackageNumber: packageNumber
                    }
                });
            }
        });
        return packageLineItems;
    }
</script>
