@using WebGrease.Css.Extensions
@model Thermory.Domain.ILumberCategory

@foreach (var subCategory in Model.LumberSubCategories)
{
    var millimeterLengths = new List<int>();
    subCategory.LumberTypes.ForEach(pt => pt.LumberLengthsMillimeters.ForEach(l => { if (!millimeterLengths.Contains(l)) millimeterLengths.Add(l); }));
    var feetLengths = new List<double>();
    subCategory.LumberTypes.ForEach(pt => pt.LumberLengthsFeet.ForEach(l => { if (!feetLengths.Contains(l)) feetLengths.Add(l); }));
    var columns = millimeterLengths.Count + 4;
    var blankRow = string.Format("<tr><td colspan=\"{0}\">&nbsp;</td></tr>", columns);

    <table class="table table-condensed inventory">
        <tr class="metricHeading">
            <td class="subCategoryUnit">mm</td>
            <td class="subCategoryDimensions">@subCategory.ThicknessInMillimeters x @subCategory.WidthInMillimeters</td>
            @foreach (var length in millimeterLengths)
            {
                <td class="subCategoryCellPadding subCategoryLength">@length</td>
            }
            <td colspan="2"></td>
        </tr>
        <tr class="englishHeading">
            <td colspan="2"><div class="headingWidth"><strong title="@subCategory.Name">@subCategory.Name</strong></div></td>
            @foreach (var length in feetLengths)
            {
                <td class="subCategoryCellPadding subCategoryLength">@length</td>
            }
            <td>Total LF</td>
            <td class="subCategoryCellPadding">Total SF</td>
        </tr>
        @foreach (var lumberType in subCategory.LumberTypes)
        {
            @Html.Raw(blankRow)
            <tr>
                <td colspan="2" class="productType productTypeHeading"><div class="headingWidth" title="@lumberType.Name">@lumberType.Name</div></td>
                @foreach (var length in millimeterLengths)
                {
                    var lumberForLength = lumberType.LumberProducts.SingleOrDefault(p => p.LengthInMillmeters == length);
                    var quantity = @lumberForLength == null ? 0 : lumberForLength.Quantity;
                    <td class="productType subCategoryCellPadding subCategoryLength">@quantity</td>
                }
                <td rowspan="2" class="totalLinearFeet">@lumberType.TotalLinearFeet</td>
                <td rowspan="2" class="totalSquareFeet">@lumberType.TotalSquareFeet</td>
            </tr>
            <tr>
                <td colspan="2" class="productType productTypeStatistic">Tally %</td>
                @foreach (var length in millimeterLengths)
                {
                    var lumberForLength = lumberType.LumberProducts.SingleOrDefault(p => p.LengthInMillmeters == length);
                    var tally = @lumberForLength == null ? 0 : lumberForLength.TallyPercentage;
                    <td class="productType subCategoryCellPadding subCategoryLength productTypeTally">@tally%</td>
                }
            </tr>
            @Html.Raw(blankRow)
            <tr>
                <td colspan="2" class="productType productTypeStatistic">LF / Length</td>
                @foreach (var length in millimeterLengths)
                {
                    var lumberForLength = lumberType.LumberProducts.SingleOrDefault(p => p.LengthInMillmeters == length);
                    var linearFeet = lumberForLength == null ? 0 : lumberForLength.LinearFeet;
                    <td class="subCategoryCellPadding subCategoryLength">@linearFeet</td>
                }
                <td class="totalPieceHeading">Total PCS</td>
                <td>@lumberType.TotalPieces</td>
            </tr>
            <tr>
                <td colspan="2" class="productType productTypeStatistic">SF / Length</td>
                @foreach (var length in millimeterLengths)
                {
                    var lumberForLength = lumberType.LumberProducts.SingleOrDefault(p => p.LengthInMillmeters == length);
                    var squareFeet = lumberForLength == null ? 0 : lumberForLength.SquareFeet;
                    <td class="productType subCategoryCellPadding subCategoryLength">@squareFeet</td>
                }
                <td colspan="2">&nbsp;</td>
            </tr>
        }
    </table>
    <br />
}