@model Thermory.Web.Models.InventoryModel
@{
    var firstCategoryId = Model.LumberCategories.First().Id;
}

<div id="worksheetPanel">
    <ul class="nav nav-tabs" data-tabs="tabs">
        @{
            foreach (var category in Model.LumberCategories)
            {
                var active = category.Id == firstCategoryId ? "class=active" : "";
                <li @active><a href="#@category.Id" data-toggle="tab">@category.Name</a></li>
            }
            foreach (var category in Model.MiscellaneousCategories)
            {
                <li><a href="#@category.Id" data-toggle="tab">@category.Name</a></li>
            }
}
    </ul>
    <div class="tab-content">
        @{
            foreach (var category in Model.LumberCategories)
            {
                var active = category.Id == firstCategoryId ? "active" : "";
                <div id="@category.Id" class="tab-pane @active">
                    @Html.Partial("_LumberAuditForm", category)
                </div>
            }
            foreach (var category in Model.MiscellaneousCategories)
            {
                <div id="@category.Id" class="tab-pane">
                    @Html.Partial("_MiscellaneousAuditForm", category)
                </div>
            }
}
    </div>
    <div type="button" class="btn btn-success" onclick="saveInventory();">
        <span class="glyphicon glyphicon-ok"></span> Save
    </div>
</div>

<div id="savingPanel" style="display: none;">Saving...</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('input[name=lumberQty],[name=miscQty]').keydown(rejectNonNumericText);
    });

    function saveInventory() {
        $('#worksheetPanel').hide();
        $('#savingPanel').show();

        var lumberProducts = getInventory('lumber');
        var miscProducts = getInventory('misc');

        if (lumberProducts.length == 0 && miscProducts == 0) {
            $('#worksheetPanel').show();
            $('#savingPanel').hide();
            return;
        }

        var lumberJson = JSON.stringify(lumberProducts);
        var miscJson = JSON.stringify(miscProducts);
        var postData = '{"lumberProducts" : ' + lumberJson + ', "miscProducts" : ' + miscJson + '}';
        
        $.ajax({
            type: 'POST',
            url: '@Url.Action("Audit", "Inventory")',
            contentType: 'application/json',
            dataType: 'json',
            data: postData,
            success: function (data, status, request) {
                location.reload();
            },
            error: function (data, status, request) {
                console.log(data);
                console.log(status);
                console.log(request);
                $('#worksheetPanel').show();
                $('#savingPanel').hide();
            }
        });
    }

    function getInventory(prefix) {
        var products = new Array();
        var query = 'input[name=\'' + prefix + 'Qty\']';
        $(query).each(function () {
            var id = $(this).attr('id');
            var qty = $(this).val();
            var oldQty = $('#qty' + id).val();

            if (oldQty != qty) {
                products.push({
                    Id: id,
                    Quantity: qty
                });
            }
        });
        return products;
    }
</script>