@using Thermory.Domain.Models
@using Thermory.Web.Models
@model LumberCategory

<style>
    .lumberCategoryView {
    }

    .lumberCategoryForm {
    }
</style>
<form>
    <input type="hidden" id="lumberCategoryId" value="@Model.Id" />
    <input type="hidden" id="lumberCategorySortOrder" value="@Model.SortOrder" />
    <div>
        <div class="lumberCategoryView" style="margin-bottom: -2px;">
            <table>
                <tr>
                    <td>
                        <h2>
                            <span id="lumberCategoryNameView">@Model.Name</span>
                        </h2>
                    </td>
                    <td>
                        <div type="button" class="btn btn-primary" onclick="showLumberCategoryForm();" style="margin-top: 20px;">
                            <span class="glyphicon glyphicon-edit lumberCategoryView"></span> Edit
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="lumberCategoryForm" style="margin: 24px 0 -6px 0;">
            <table>
                <tr>
                    <td>
                        <input type="text" id="lumberCategoryName" name="lumberCategoryName" class="form-control"
                               value="@Model.Name" placeholder="Category Name" />
                    </td>
                    <td>
                        <div type="button" class="lumberCategoryForm btn btn-success" onclick="saveLumberCategory();">
                            <span class="glyphicon glyphicon-check"></span> Save
                        </div>
                    </td>
                    <td>
                        @if (Model.Id != Guid.Empty)
                        {
                            <div type="button" class="lumberCategoryForm btn btn-danger" onclick="showLumberCategoryView();">
                                <span class="glyphicon glyphicon-remove"></span> Cancel
                            </div>
                        }
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <br />
    @if (Model.Id != Guid.Empty)
    {
        var firstSubCategoryId = Model.LumberSubCategories.Any() ? Model.LumberSubCategories.First().Id : Guid.Empty;
        <ul class="nav nav-tabs" data-tabs="tabs">
            @{ string active;}
            @foreach (var subCategory in Model.LumberSubCategories.OrderBy(s => s.SortOrder))
            {
                active = subCategory.Id == firstSubCategoryId ? "class=active" : "";
                <li @active><a href="#@subCategory.Id" data-toggle="tab">@subCategory.Name</a></li>
            }
            @{ active = firstSubCategoryId == Guid.Empty ? "class=active" : "";}
            <li @active><a href="#@Guid.Empty" data-toggle="tab"><span class="glyphicon glyphicon-plus"></span> Add</a></li>
        </ul>
        <div class="tab-content">
            @{ LumberSubCategoryViewModel subCategoryViewModel;}
            @foreach (var subCategory in Model.LumberSubCategories.OrderBy(s => s.SortOrder))
            {
                subCategoryViewModel = new LumberSubCategoryViewModel { Active = subCategory.Id == firstSubCategoryId, SubCategory = subCategory };
                @Html.Partial("_LumberSubCategoryForm", subCategoryViewModel)
            }
            @{
        subCategoryViewModel = new LumberSubCategoryViewModel { Active = !Model.LumberSubCategories.Any(), SubCategory = new LumberSubCategory() };
        @Html.Partial("_LumberSubCategoryForm", subCategoryViewModel)
            }
        </div>
    }
</form>
<script type="text/javascript">
    $(document).ready(function () {
        @{ var command = Model.Id == Guid.Empty ? "showLumberCategoryForm();" : "showLumberCategoryView();";}
        @command
    });

    function showLumberCategoryForm() {
        $('.lumberCategoryForm').show();
        $('.lumberCategoryView').hide();
    }

    function saveLumberCategory() {
        var id = $('#lumberCategoryId').val();
        var name = $('#lumberCategoryName').val();
        var sortOrder = $('#lumberCategorySortOrder').val();
        var category = {
            Id: id,
            Name: name,
            SortOrder: sortOrder
        };

        $.ajax({
            type: 'PUT',
            url: '@Url.Action("SaveLumberCategory", "Catalog")',
            data: category,
            dataType: 'text',
            success: function (data) {
                category = JSON.parse(data);
                if (id == '@Guid.Empty') {
                    location.href = "Index/" + category.Id;
                }
                $('#lumberCategoryNameView').text(category.Name);
                $('#lumberCategoryEdit' + category.Id).text(category.Name);
                showLumberCategoryView();
            }
        });
    }

    function showLumberCategoryView() {
        $('.lumberCategoryForm').hide();
        $('.lumberCategoryView').show();
    }
</script>