@using Thermory.Domain.Models
@using Thermory.Web.Models
@model LumberCategory

<style>
    .lumberCategoryView {
    }

    .lumberCategoryForm {
    }
</style>
<form>
    <input type="hidden" id="lumberCategoryId" value="@Model.Id" />
    <input type="hidden" id="lumberCategorySortOrder" value="@Model.SortOrder" />
    <div>
        <div class="lumberCategoryView" style="padding: 2px 0 12px 0; margin-bottom: 2px;">
            <h2>
                <span id="lumberCategoryNameView">@Model.Name</span> <span class="glyphicon glyphicon-edit lumberCategoryView" style="cursor: pointer;" onclick="showLumberCategoryForm();"></span>
            </h2>
        </div>
        <div class="lumberCategoryForm row" style="margin-top: 13px;">
            <div class="col-md-4">
                <input type="text" id="lumberCategoryName" name="lumberCategoryName" class="form-control"
                       value="@Model.Name" placeholder="Category Name" />
            </div>
            <div class="col-md-1">
                <input type="button" class="lumberCategoryForm" value="Save" onclick="saveLumberCategory();" />
            </div>
            @if (Model.Id != Guid.Empty)
            {
                <div class="col-md-1">
                    <input type="button" class="lumberCategoryForm" value="Cancel" onclick=" showLumberCategoryView(); " />
                </div>
            }
        </div>
    </div>
    <br />
    @if (Model.Id != Guid.Empty)
    {
        var firstSubCategoryId = Model.LumberSubCategories.Any() ? Model.LumberSubCategories.First().Id : Guid.Empty;
        <ul class="nav nav-tabs" data-tabs="tabs">
            @{ string active;}
            @foreach (var subCategory in Model.LumberSubCategories.OrderBy(s => s.SortOrder))
            {
                active = subCategory.Id == firstSubCategoryId ? "class=active" : "";
                <li @active><a href="#@subCategory.Id" data-toggle="tab">@subCategory.Name</a></li>
            }
            @{ active = firstSubCategoryId == Guid.Empty ? "class=active" : "";}
            <li @active><a href="#@Guid.Empty" data-toggle="tab"><span class="glyphicon glyphicon-plus"></span> Add</a></li>
        </ul>
        <div class="tab-content">
            @{ LumberSubCategoryViewModel subCategoryViewModel;}
            @foreach (var subCategory in Model.LumberSubCategories.OrderBy(s => s.SortOrder))
            {
                subCategoryViewModel = new LumberSubCategoryViewModel { Active = subCategory.Id == firstSubCategoryId, SubCategory = subCategory };
                @Html.Partial("_LumberSubCategoryForm", subCategoryViewModel)
            }
            @{
                subCategoryViewModel = new LumberSubCategoryViewModel {Active = !Model.LumberSubCategories.Any(), SubCategory = new LumberSubCategory()};
                @Html.Partial("_LumberSubCategoryForm", subCategoryViewModel)
            }
        </div>
    }
</form>
<script type="text/javascript">
    $(document).ready(function () {
        @{ var command = Model.Id == Guid.Empty ? "showLumberCategoryForm();" : "showLumberCategoryView();";}
        @command
    });

    function showLumberCategoryForm() {
        $('.lumberCategoryForm').show();
        $('.lumberCategoryView').hide();
    }

    function saveLumberCategory() {
        var id = $('#lumberCategoryId').val();
        var name = $('#lumberCategoryName').val();
        var sortOrder = $('#lumberCategorySortOrder').val();
        var category = {
            Id: id,
            Name: name,
            SortOrder: sortOrder
        };

        $.ajax({
            type: 'PUT',
            url: '@Url.Action("SaveLumberCategory", "Catalog")',
            data: category,
            dataType: 'text',
            success: function (data) {
                category = JSON.parse(data);
                if (id == '@Guid.Empty') {
                    location.href = "Index/" + category.Id;
                }
                $('#lumberCategoryNameView').text(category.Name);
                $('#lumberCategoryEdit' + category.Id).text(category.Name);
                showLumberCategoryView();
            }
        });
    }

    function showLumberCategoryView() {
        $('.lumberCategoryForm').hide();
        $('.lumberCategoryView').show();
    }
</script>