@using Thermory.Domain.Models
@using Thermory.Web.Models
@model LumberCategory

<form>
    <input type="hidden" id="lumberCategoryId" value="@Model.Id" />
    <input type="hidden" id="lumberCategorySortOrder" value="@Model.SortOrder" />
    <div>
        <div class="lumberCategoryView" style="margin-bottom: -2px;">
            <table>
                <tr>
                    <td>
                        <h2>
                            <span id="lumberCategoryNameView">@Model.Name</span>
                        </h2>
                    </td>
                    <td>
                        <div type="button" class="btn btn-primary lumberCategoryView" onclick="showLumberCategoryForm();" style="margin-top: 20px;">
                            <span class="glyphicon glyphicon-edit"></span> Edit
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="lumberCategoryForm" style="margin: 24px 0 -6px 0;">
            <table>
                <tr>
                    <td>
                        <input type="text" id="lumberCategoryName" name="lumberCategoryName" class="form-control"
                               value="@Model.Name" placeholder="Category Name" />
                    </td>
                    <td>
                        <div type="button" class="lumberCategoryForm btn btn-success" onclick="saveLumberCategory();">
                            <span class="glyphicon glyphicon-ok"></span> Save
                        </div>
                    </td>
                    <td>
                        @if (Model.Id != Guid.Empty)
                        {
                            <div type="button" class="lumberCategoryForm btn btn-danger" onclick="showLumberCategoryView();">
                                <span class="glyphicon glyphicon-remove"></span> Cancel
                            </div>
                        }
                    </td>
                </tr>
            </table>
            <div class="panel panel-danger" id="lumberCategoryErrorPanel">
                <div class="panel-heading">Error</div>
                <div id="lumberCategoryError" class="panel-body"></div>
            </div>
        </div>
    </div>
    <br />
    @if (Model.Id != Guid.Empty)
    {
        var firstSubCategoryId = Model.LumberSubCategories.Any() ? Model.LumberSubCategories.OrderBy(s => s.SortOrder).First().Id : Guid.Empty;
        <ul class="nav nav-tabs" data-tabs="tabs">
            @{ string active;}
            @foreach (var subCategory in Model.LumberSubCategories.OrderBy(s => s.SortOrder))
            {
                active = subCategory.Id == firstSubCategoryId ? "active" : "";
                <li class="lumberSubCategoryTab @active"><a id="@string.Format("lumberSubCategoryLink{0}", subCategory.Id)" href="#@string.Format("lumberSubCategoryTab{0}", subCategory.Id)" data-toggle="tab">@subCategory.Name</a></li>
            }
            @{ active = firstSubCategoryId == Guid.Empty ? "class=active" : "";}
            <li class="lumberSubCategoryTab @active"><a id="@string.Format("lumberSubCategoryLink{0}", Guid.Empty)" href="#@string.Format("lumberSubCategoryTab{0}", Guid.Empty)" data-toggle="tab"><span class="glyphicon glyphicon-plus"></span> Add</a></li>
        </ul>
        <div class="tab-content">
            @{ LumberSubCategoryViewModel subCategoryViewModel;}
            @foreach (var subCategory in Model.LumberSubCategories.OrderBy(s => s.SortOrder))
            {
                subCategoryViewModel = new LumberSubCategoryViewModel { Active = subCategory.Id == firstSubCategoryId, SubCategory = subCategory };
                @Html.Partial("_LumberSubCategoryForm", subCategoryViewModel)
            }
            @{
        subCategoryViewModel = new LumberSubCategoryViewModel { Active = !Model.LumberSubCategories.Any(), SubCategory = new LumberSubCategory{LumberTypes = new List<LumberType>()} };
        @Html.Partial("_LumberSubCategoryForm", subCategoryViewModel)
            }
        </div>
    }
</form>
<script type="text/javascript">
    $(document).ready(function () {
        @{ var command = Model.Id == Guid.Empty ? "showLumberCategoryForm();" : "showLumberCategoryView();";}
        @command
        $('.numeric').keydown(rejectNonNumericText);
        initiateLumberSubCategoryViewMode();
        initiateLumberTypeViewMode();
        initiateLumberProductViewMode();
    });

    function showLumberCategoryForm() {
        $('#lumberCategoryErrorPanel').hide();
        $('.lumberCategoryForm').show();
        $('.lumberCategoryView').hide();
    }

    function showLumberCategoryView() {
        $('#lumberCategoryErrorPanel').hide();
        $('.lumberCategoryForm').hide();
        $('.lumberCategoryView').show();
    }

    function disableNavTabByCssClasss(cssClass) {
        $('.' + cssClass).addClass('disabled');
        $('.' + cssClass).find('a').removeAttr('data-toggle');
    }

    function enableNavTabByCssClasss(cssClass) {
        $('.' + cssClass).removeClass('disabled');
        $('.' + cssClass).find('a').attr('data-toggle', 'tab');
    }

    function initiateLumberSubCategoryEditMode() {
        disableNavTabByCssClasss('lumberSubCategoryTab');
        $('.lumberSubCategoryView').hide();
        $('.lumberSubCategoryForm').show();
    }

    function initiateLumberSubCategoryViewMode() {
        $('.lumberSubCategoryErrorPanel').hide();
        enableNavTabByCssClasss('lumberSubCategoryTab');
        $('.lumberSubCategoryView').show();
        $('.lumberSubCategoryForm').hide();
    }

    function initiateLumberTypeEditMode() {
        disableNavTabByCssClasss('lumberTypeTab');
        $('.lumberTypeView').hide();
        $('.lumberTypeForm').show();
    }

    function initiateLumberTypeViewMode() {
        $('.lumberTypeErrorPanel').hide();
        enableNavTabByCssClasss('lumberTypeTab');
        $('.lumberTypeView').show();
        $('.lumberTypeForm').hide();
    }

    function initiateLumberProductEditMode() {
        disableNavTabByCssClasss('lumberProductTab');
        $('.lumberProductView').hide();
        $('.lumberProductForm').show();
    }

    function initiateLumberProductViewMode() {
        $('.lumberProductErrorPanel').hide();
        enableNavTabByCssClasss('lumberProductTab');
        $('.lumberProductView').show();
        $('.lumberProductForm').hide();
    }

    function saveLumberCategory() {
        var id = $('#lumberCategoryId').val();
        var name = $('#lumberCategoryName').val();
        var sortOrder = $('#lumberCategorySortOrder').val();
        var category = {
            Id: id,
            Name: name,
            SortOrder: sortOrder
        };

        $.ajax({
            type: 'PUT',
            url: '@Url.Action("SaveLumberCategory", "Catalog")',
            data: category,
            dataType: 'text',
            success: function (data) {
                category = JSON.parse(data);
                if (id == '@Guid.Empty') {
                    location.href = "Index/" + category.Id;
                    return;
                }
                $('#lumberCategoryNameView').text(category.Name);
                $('#lumberCategoryEdit' + category.Id).text(category.Name);
                showLumberCategoryView();
            },
            error: function (data) {
                $('#lumberCategoryError').text(data.responseText);
                $('#lumberCategoryErrorPanel').show();
            }
        });
    }

    function saveLumberSubCategory(id) {
        var name = $('#name' + id).val();
        var sortOrder = $('#sortOrder' + id).val();
        var width = $('#width' + id).val();
        var thickness = $('#thickness' + id).val();
        var subCategory = {
            LumberCategoryId: '@Model.Id',
            Id: id,
            Name: name,
            SortOrder: sortOrder,
            WidthInMillimeters: width,
            ThicknessInMillimeters: thickness
        };

        $.ajax({
            type: 'PUT',
            url: '@Url.Action("SaveLumberSubCategory", "Catalog")',
            data: subCategory,
            dataType: 'text',
            success: function (data) {
                subCategory = JSON.parse(data);
                if (id == '@Guid.Empty') {
                    location.reload();
                }

                $('#lumberSubCategoryLink' + id).text(subCategory.Name);
                $('#nameView' + id).text(subCategory.Name);
                $('#sortOrder' + id).text(subCategory.SortOrder);
                $('#widthView' + id).text(subCategory.WidthInMillimeters);
                $('#thicknessView' + id).text(subCategory.ThicknessInMillimeters);
                initiateLumberSubCategoryViewMode();
            },
            error: function (data) {
                console.log(data);
                $('#lumberSubCategoryError' + id).text(data.responseText);
                $('.lumberSubCategoryErrorPanel').show();
            }
        });
    }

    function saveLumberType(suffix) {
        var id = $('#lumberTypeId' + suffix).val();
        var subCategoryId = $('#subCategoryId' + suffix).val();
        var name = $('#name' + suffix).val();
        var sortOrder = $('#sortOrder' + suffix).val();
        var lumberType = {
            Id: id,
            LumberSubCategoryId: subCategoryId,
            Name: name,
            SortOrder: sortOrder
        };

        console.log(lumberType);
        initiateLumberTypeViewMode();

        @*$.ajax({
            type: 'PUT',
            url: '@Url.Action("SaveLumberType", "Catalog")',
            data: lumberType,
            dataType: 'text',
            success: function (data) {
                lumberType = JSON.parse(data);
                if (id == '@Guid.Empty') {
                    location.reload();
                }

                $('#lumberSubCategoryLink' + suffix).text(lumberType.Name);
                $('#nameView' + suffix).text(lumberType.Name);
                $('#sortOrder' + suffix).text(lumberType.SortOrder);
                $('#widthView' + suffix).text(lumberType.WidthInMillimeters);
                $('#thicknessView' + suffix).text(lumberType.ThicknessInMillimeters);
                initiateLumberSubCategoryViewMode();
            },
            error: function (data) {
                console.log(data);
                $('#lumberSubCategoryError' + suffix).text(data.responseText);
                $('.lumberSubCategoryErrorPanel').show();
            }
        });*@
    }

    function saveLumberProduct(suffix) {
        var id = $('#lumberProductId' + suffix).val();
        var lumberTypeId = $('#lumberTypeId' + suffix).val();
        var length = $('#length' + suffix).val();
        var sortOrder = $('#sortOrder' + suffix).val();
        var lumberType = {
            Id: id,
            LumberTypeId: lumberTypeId,
            Length: length,
            SortOrder: sortOrder
        };

        console.log(lumberType);
        initiateLumberProductViewMode();

        @*$.ajax({
            type: 'PUT',
            url: '@Url.Action("SaveLumberType", "Catalog")',
            data: lumberType,
            dataType: 'text',
            success: function (data) {
                lumberType = JSON.parse(data);
                if (id == '@Guid.Empty') {
                    location.reload();
                }

                $('#lumberSubCategoryLink' + suffix).text(lumberType.Name);
                $('#nameView' + suffix).text(lumberType.Name);
                $('#sortOrder' + suffix).text(lumberType.SortOrder);
                $('#widthView' + suffix).text(lumberType.WidthInMillimeters);
                $('#thicknessView' + suffix).text(lumberType.ThicknessInMillimeters);
                initiateLumberSubCategoryViewMode();
            },
            error: function (data) {
                console.log(data);
                $('#lumberSubCategoryError' + suffix).text(data.responseText);
                $('.lumberSubCategoryErrorPanel').show();
            }
        });*@
        }
</script>