@model Thermory.Web.Models.CatalogModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="dropdown">
    <button class="dropdown-toggle" type="button" id="categoryDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Choose a Category
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="categoryDropDown">
        <li class="dropdown-header">Lumber</li>
        <li><a href="~/Catalog/Add"><span class="glyphicon glyphicon-plus"></span> Add</a></li>
        @{
            foreach (var category in Model.LumberCategories)
            {
                <li><a href="~/Catalog/Index/@category.Id">@category.Name</a></li>
            }
            <li class="dropdown-header">Miscellaneous</li>
            foreach (var category in Model.MiscellaneousCategories)
            {
                <li><a href="~/Catalog/Index/@category.Id">@category.Name</a></li>
            }
        }
    </ul>
</div>
<h2>@Model.SelectedCategoryName</h2>
@{
    if (Model.LumberCategories.Any(c => c.Id == Model.SelectedCategoryId))
    {
        var category = Model.LumberCategories.SingleOrDefault(c => c.Id == Model.SelectedCategoryId);
        <div id="@category.Id" class="tab-pane">
            @Html.Partial("_LumberSummary", category)
        </div>
    }
    else if (Model.MiscellaneousCategories.Any(c => c.Id == Model.SelectedCategoryId))
    {
        var category = Model.MiscellaneousCategories.SingleOrDefault(c => c.Id == Model.SelectedCategoryId);
        <div id="@category.Id" class="tab-pane">
            @Html.Partial("_MiscSummary", category)
        </div>
    }
    else if (Model.SelectedCategoryId == Guid.Empty)
    {
        <div id="@Guid.Empty" class="tab-pane">
            Add lumber category
        </div>
    }
}
<script type="text/javascript">
    $(document).ready(function () {
        $('input[name^="thickness"],[name^="width"]').keydown(function (e) {
            // Allow: backspace, delete, tab, escape, enter and .
            if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
                // Allow: Ctrl+A, Command+A
                (e.keyCode == 65 && (e.ctrlKey === true || e.metaKey === true)) ||
                // Allow: home, end, left, right, down, up
                (e.keyCode >= 35 && e.keyCode <= 40)) {
                // let it happen, don't do anything
                return;
            }
            // Ensure that it is a number and stop the keypress
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                e.preventDefault();
            }
        });
    });
</script>