@using Thermory.Domain.Models
@using Thermory.Web.Models
@model Thermory.Web.Models.CatalogModel

<div class="dropdown">
    <div class="dropdown-toggle btn btn-primary" type="button" id="categoryDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Choose a Category
        <span class="caret"></span>
    </div>
    <ul class="dropdown-menu" aria-labelledby="categoryDropDown">
        <li class="dropdown-header">Lumber</li>
        <li><a href="~/Catalog/Add"><span class="glyphicon glyphicon-plus"></span> Add</a></li>
        @{
            foreach (var category in Model.LumberCategories)
            {
                <li><a href="~/Catalog/Index/@category.Id" id="@string.Format("lumberCategoryEdit{0}", category.Id)">@category.Name</a></li>
            }
            <li class="dropdown-header">Miscellaneous</li>
            foreach (var category in Model.MiscellaneousCategories)
            {
                <li><a href="~/Catalog/Index/@category.Id">@category.Name</a></li>
            }
        }
    </ul>
</div>
@{
    if (Model.LumberCategories.Any(c => c.Id == Model.SelectedCategoryId))
    {
        var category = Model.LumberCategories.SingleOrDefault(c => c.Id == Model.SelectedCategoryId);
        @Html.Partial("_LumberCatalog", new LumberCategoryViewModel { Category = category, MaxSortOrder = Model.LumberCategories.Count })
    }
    else if (Model.MiscellaneousCategories.Any(c => c.Id == Model.SelectedCategoryId))
    {
        var category = Model.MiscellaneousCategories.SingleOrDefault(c => c.Id == Model.SelectedCategoryId);
        @Html.Partial("_MiscCatalog", category)
    }
    else if (Model.SelectedCategoryId == Guid.Empty)
    {
        var category = new LumberCategory();
        @Html.Partial("_LumberCatalog", category)
    }
}