@model Thermory.Domain.Models.Package
@{
    var packageLumberCategories = Model.PackageLumberLineItems.Select(i => i.LumberProduct.LumberType.LumberSubCategory.LumberCategory).Distinct();
    var packageLumberSubCategories = Model.PackageLumberLineItems.Select(i => i.LumberProduct.LumberType.LumberSubCategory).Distinct();
    var packageLumberTypes = Model.PackageLumberLineItems.Select(i => i.LumberProduct.LumberType).Distinct();

    foreach (var category in packageLumberCategories.OrderBy(c => c.SortOrder))
    {
        foreach (var subCategory in packageLumberSubCategories.OrderBy(s => s.SortOrder).Where(s => s.LumberCategoryId == category.Id))
        {
            foreach (var lumberType in packageLumberTypes.OrderBy(s => s.SortOrder).Where(s => s.LumberSubCategoryId == subCategory.Id))
            {
                var totalPieces = 0;
                var totalLinearFeet = 0.0;
                var totalSquareFeet = 0.0;
                var totalWeight = 0.0;
                <h3><strong>@category.Name:</strong> @subCategory.Name</h3>
                <h5><em>@lumberType.Name</em></h5>
                <table class="table table-striped table-condensed">
                    <thead>
                        <tr>
                            <th>Length</th>
                            <th>Width</th>
                            <th>Pieces</th>
                            <th>Packs</th>
                            <th>Linear Feet</th>
                            <th>Square Feet</th>
                            <th>Weight</th>
                        </tr>
                    </thead>
                    @foreach (var lineItem in Model.PackageLumberLineItems.Where(li => li.LumberProduct.LumberType.Id == lumberType.Id))
                    {
                        totalPieces += lineItem.Quantity;
                        totalLinearFeet += lineItem.LinearFeet;
                        totalSquareFeet += lineItem.SquareFeet;
                        totalWeight += lineItem.Weight;
                        <tr>
                            <td>@lineItem.LumberProduct.LengthInFeet FT</td>
                            <td>@lineItem.LumberProduct.LumberType.LumberSubCategory.WidthInInches"</td>
                            <td>@lineItem.Quantity.ToString("n0")</td>
                            <td>@Html.Raw(lineItem.PacksHtml)</td>
                            <td>@lineItem.LinearFeet.ToString("n0") LF</td>
                            <td>@lineItem.SquareFeet.ToString("n0") SF</td>
                            <td>@lineItem.Weight.ToString("n1") lbs</td>
                        </tr>
                    }
                    <tr>
                        <td><strong>Total</strong></td>
                        <td>&nbsp;</td>
                        <td><strong>@totalPieces.ToString("n0")</strong></td>
                        <td>&nbsp;</td>
                        <td><strong>@totalLinearFeet.ToString("n0") LF</strong></td>
                        <td><strong>@totalSquareFeet.ToString("n0") SF</strong></td>
                        <td><strong>@totalWeight.ToString("n1") lbs</strong></td>
                    </tr>
                </table>
            }
        }
    }
}