@using Thermory.Domain.Constants
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Thermory Inventory</title>
    <link href="~/Images/favicon.png" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/w2ui-css")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/jqueryui")

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/w2ui")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/thermory")
    
    @RenderSection("scripts", required: false)@if (Request.IsAuthenticated)
    {
    <script type="text/javascript">
        function keepSessionAlive() {
            $.post('@Url.Action("KeepAlive", "Account")');
        }

        $(function() { window.setInterval("keepSessionAlive()", 60000); });
    </script>
    }
</head>
<body>
    <header>
        <div class="content-wrapper">
            <div class="float-left">
                <p class="site-title">@Html.ActionLink("Thermory", "Index", "Home", null, new { @class = "logo" })</p>
            </div>
            <div class="float-right">
                <section id="login">
                    @Html.Partial("_LoginPartial")
                </section>
                @if (User.Identity.IsAuthenticated)
                {
                    <nav class="navbar navbar-default" style="margin-bottom: 10px;">
                        <div class="container-fluid">
                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div>
                                <ul class="nav navbar-nav">
                                    @if (User.IsInRole(Role.InventoryMaster) || User.IsInRole(Role.InventoryViewer) || User.IsInRole(Role.WarehouseCrew))
                                    {
                                        <li role="presentation">@Html.ActionLink("Inventory", "Index", "Inventory")</li>
                                    }
                                    @if (User.IsInRole(Role.InventoryMaster) || User.IsInRole(Role.WarehouseCrew))
                                    {
                                        <li role="presentation">@Html.ActionLink("Incoming ", "Index", "PurchaseOrder")</li>
                                        <li role="presentation">@Html.ActionLink("Sales Orders", "Index", "SalesOrder")</li>
                                    }
                                    @if (User.IsInRole(Role.InventoryMaster))
                                    {
                                        <li role="presentation">@Html.ActionLink("Inventory Audit", "Audit", "Inventory")</li>
                                        <li role="presentation">@Html.ActionLink("Catalog", "Index", "Catalog")</li>
                                        <li role="presentation">@Html.ActionLink("Users", "Index", "User")</li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </nav>
                }
            </div>
        </div>
    </header>
    <div id="body" style="padding-top: 10px; margin-bottom: 20px; border-top: solid 1px lightgray;">
        @RenderSection("featured", required: false)
        <section class="content-wrapper clear-fix">
            @RenderBody()
        </section>
    </div>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <div class="float-left" style="margin-top: 10px;">
                &copy; @DateTime.Now.Year - Thermory
            </div>
        </div>
    </nav>
</body>
</html>
