@using Thermory.Domain.Constants
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Thermory Inventory</title>
    <link href="~/Images/favicon.png" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/w2ui-css")
    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/w2ui")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/thermory")
    @RenderSection("scripts", required: false)
</head>
<body>
    <header>
        <div class="content-wrapper">
            <div class="float-left">
                <p class="site-title">@Html.ActionLink("Thermory", "Index", "Home", null, new { @class = "logo" })</p>
            </div>
            <div class="float-right">
                <section id="login">
                    @Html.Partial("_LoginPartial")
                </section>
                @if (User.Identity.IsAuthenticated)
                {
                    <nav class="navbar navbar-default">
                        <div class="container-fluid">
                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav">
                                    @if (User.IsInRole(Role.InventoryMaster))
                                    {
                                        <li role="presentation">@Html.ActionLink("Inventory", "Index", "Inventory")</li>
                                        <li role="presentation">@Html.ActionLink("Incoming ", "Index", "PurchaseOrder")</li>
                                        <li role="presentation">@Html.ActionLink("Sales Orders", "Index", "SalesOrder")</li>
                                        <li role="presentation">@Html.ActionLink("Inventory Audit", "Audit", "Inventory")</li>
                                        <li role="presentation">@Html.ActionLink("Catalog", "Index", "Catalog")</li>
                                        <li role="presentation">@Html.ActionLink("Users", "Index", "User")</li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </nav>
                }
            </div>
        </div>
    </header>
    <div id="body" style="padding-top: 10px; border-top: solid 1px lightgray;">
        @RenderSection("featured", required: false)
        <section class="content-wrapper clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - Thermory</p>
            </div>
        </div>
    </footer>
</body>
</html>
