@model Thermory.Web.ViewModels.InventoryViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var firstCategoryId = Model.LumberCategories.First().Id;
}

<ul class="nav nav-tabs" data-tabs="tabs">
    @{
        foreach (var category in Model.LumberCategories)
        {
            var active = category.Id == firstCategoryId ? "class=active" : "";
            <li @active><a href="#@category.Id" data-toggle="tab">@category.Name</a></li>
        }
        foreach (var category in Model.MiscellaneousCategories)
        {
            <li><a href="#@category.Id" data-toggle="tab">@category.Name</a></li>
        }
}
</ul>
<div class="tab-content">
    @{
        foreach (var category in Model.LumberCategories)
        {
            var active = category.Id == firstCategoryId ? "active" : "";
            <div id="@category.Id" class="tab-pane @active">
                @Html.Partial("_LumberSummary", category)
            </div>
        }
        foreach (var category in Model.MiscellaneousCategories)
        {
            <div id="@category.Id" class="tab-pane">
                @Html.Partial("_MiscSummary", category)
            </div>
        }
}
</div>