@model Thermory.Web.Models.InventoryWorksheet
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var firstCategoryId = Model.LumberCategories.First().Id;
}

<div id="worksheetPanel">
    <ul class="nav nav-tabs" data-tabs="tabs">
        @{
            foreach (var category in Model.LumberCategories)
            {
                var active = category.Id == firstCategoryId ? "class=active" : "";
                <li @active><a href="#@category.Id" data-toggle="tab">@category.Name</a></li>
            }
        }
    </ul>
    <div class="tab-content" style="height: 500px; overflow: auto;">
        @{
            foreach (var category in Model.LumberCategories)
            {
                var active = category.Id == firstCategoryId ? "active" : "";
                <div id="@category.Id" class="tab-pane @active">
                    @Html.Partial("_LumberAuditForm", category)
                </div>
            }
        }
    </div>
    <button type="button" class="btn btn-default" onclick="saveInventory();">Save</button>
</div>

<div id="savingPanel" style="display: none;">Saving...</div>

<script type="text/javascript">
    function saveInventory() {
        $('#worksheetPanel').hide();
        $('#savingPanel').show();

        var lumberProducts = new Array();
        $("input[name^='inventory']").each(function () {
            var id = $(this).attr('id');
            var qty = $(this).val();
            var oldQty = $('#qty' + id).val();

            if (oldQty != qty) {
                lumberProducts.push({
                    Id: id,
                    Quantity: qty
                });
            }
        });

        if (lumberProducts.length == 0) {
            $('#worksheetPanel').show();
            $('#savingPanel').hide();
            return;
        }
        var postData = JSON.stringify(lumberProducts);

        console.log(lumberProducts);
        console.log(postData);

        $.ajax({
            type: 'POST',
            url: '@Url.Action("Index", "InventoryAudit")',
            contentType: 'application/json',
            dataType: 'json',
            data: postData,
            success: function (data, status, request) {
                location.reload();
            },
            error: function (data, status, request) {
                console.log(data);
                console.log(status);
                console.log(request);
                $('#worksheetPanel').show();
                $('#savingPanel').hide();
            }
        });
    }
</script>