@model Thermory.Web.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<section id="loginForm">
    @using (Html.BeginForm(new { ViewBag.ReturnUrl }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Log in Form</legend>
            <ol>
                <li>
                    @Html.LabelFor(m => m.UserName)
                    @Html.TextBoxFor(m => m.UserName)
                    @Html.ValidationMessageFor(m => m.UserName)
                </li>
                <li>
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password)
                    @Html.ValidationMessageFor(m => m.Password)
                </li>
                <li>
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
                </li>
            </ol>
            <div type="button" class="btn btn-primary" onclick="$('form').submit();">
                <span class="glyphicon glyphicon-ok"></span> Log in
            </div>
        </fieldset>
        <p>
            @Html.ActionLink("Register", "Register") if you don't have an account.
        </p>
        <div class="btn btn-primary" onclick="sendPasswordResetEmail();">
            <span class="glyphicon glyphicon-envelope"></span> Forgot Password
        </div>
    }
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script language="javascript">
    function sendPasswordResetEmail() {

        var data = {
            emailAddress: 'chadwescott@gmail.com'
        };
        var dataJson = JSON.stringify(data);

        $.ajax({
            type: 'POST',
            url: '@Url.Action("ForgotPassword", "Account")',
            contentType: 'application/json',
            dataType: 'json',
            data: dataJson,
            success: function (data, status, request) {
                window.location = '@Url.Action("ResetPassword", "Account")?token=' + data.token;
            },
        error: function (data, status, request) {
            alert('Error sending email');
        }
    });
    }
</script>