@model Thermory.Web.Models.ForgotPasswordModel

<h3>Reset password</h3>
<br />
@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new Dictionary<string, object> { { "id", "myForm" } }))
{
    @Html.AntiForgeryToken()
    <input type="hidden" id="Token" value="@Model.Token"/>

    <fieldset>
        <legend>Change Password Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <div type="button" class="btn btn-success" onclick="$('#myForm').submit();">
            <span class="glyphicon glyphicon-ok"></span> Reset password
        </div>
    </fieldset>
}